.coursesDiv{
    line-height:20px;
    font-size: 15px;
    border:1px dashed rgb(112, 88, 167);
    border-radius: 8px;
    padding:5px;
    margin-top: 10px;
    font-size: 17px; 
   
}
.coursesMainDiv{
    background-color: $header-main-color;
    padding: 10px;
    border-radius: 8px;

}