// // Footer Styles
footer {

    margin-top: 30px;

    display: flex;
    justify-content: space-between;

    background-color: dimgray;
    padding: $padding;
    //border-top: 1px dotted $footer-bg-color;
    p {
        @include flatten;
    }

    nav ul { 
        
        
        list-style: none;

        li {

            :hover {
                    text-decoration: underline;
                }

            a span{
                color: white;
                
                
            }
        }
        
        
        
    }
}