.cellStyle{
    @include flatten;
    background-color: $cellColor;
    border-radius:$borderRadius;
    width : 480px;
    padding:$cellPadding; 
    margin-bottom: $cellMargin;
}
.rightCellStyle
{
    // display:flex;
    // float :right;
    margin-right: $cellMarginRight;
}

.cellLeft{
    margin-left: $cellMarginLeft;
}

