.cellStyle{
    display: inline-block;
    width: 40%;
    @include flatten;
    background-color: $cellColor;
    border-radius:$borderRadius;
    //width : 480px;
    padding:$cellPadding; 
    margin-bottom: $cellMargin;
}
.rightCellStyle
{
    // display:flex;
    display: inline-block;
    width: 40%;
    margin-right: $cellMarginRight;
}

.cellLeft{
    margin-left: $cellMarginLeft;
}

