.faculty{
    font-size: $subHeading;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: $fontStyle;
}
p{
    line-height: 5px;
}
.instructor{
    font-style: $font-style;
}

.contactCapmpusMap{
    text-align: $textAlign;
    font-size: $fontSize;
    font-weight: bold;
   

}
.anchor{
    text-decoration: none;
    
}