// Colors
$brand-color: blue;
$body-bg-color:	#8d8ec5;
$wrapper-bg-color:  	#E0E0E0;
$bgColor:#3c1b5a;
// Text Colors
$text-color-dark: black;
$text-color-light: white;
$header-main-color:white;
$list-head-color:gray;

//Table 
$cellColor:white;
$borderRadius:25px;
$cellPadding:20px;
$cellMargin:10px;
$cellMarginRight:15px;
$cellMarginLeft:10px;
$headingPadding:10px;

// Use Color functions to brighten and darken colors
$brand-color-dark: darken($brand-color, 20);
$brand-color-light: lighten($brand-color, 20);

// Fonts
$body-font: Georgia, Times, Times New Roman, serif;
$heading-font: Tahoma, Verdana, Segoe, sans-serif;
// Typographic Defualts
$line-height: 1.4;

//paragraph
$textAlign:center;
$fontSize:15px;
$textdecoration:none;



// heading
$subHeading : 20px;
$fontStyle:bold;
$font-style:italic;
$margin:25px;



// Layout variables
$padding: 50px;
$width: 1000px;
$borderSpacing: 20px;



// Function to determine column width
// takes two numerical parameters:
// $c -> the number of columns in a row
// $g -> the gutter amount
@function colWidth($c, $g: 2){
    @return ((100 - $g * ($c - 1)) / $c) * 1%;
}

// $one-col: 100%;
// $two-col: colWidth(2);
// $three-col: colWidth(3);
// $four-col: colWidth(4);
// $five-col: colWidth(5);
// $six-col: colWidth(6);

// Function to
// Convert Px to Ems
@function em($px, $bc: 16){
    @return #{$px/$bc}em; 
}

// Media Query Breakpoints
$desktopMedium: em(1250);
$tabletLandscape: em(1024);
$tabletPortrait: em(850);
$phoneLandscape: em(670);
$phonePortrait: em(420);
